torch==2.0.1
torchvision==0.15.2
PyArabic==0.6.15
arabic-reshaper==3.0.0
python-bidi==0.4.2
six==1.16.0
numpy==1.23.5
pillow==10.2.0
tqdm==4.66.1
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
ultralytics==8.1.8
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
requests==2.31.0
redis
rq==1.15.1

# .env file support
python-dotenv>=1.0.0